*{margin: 0; padding: 0;}
#container{
    width: 900px;
    margin: 10px auto 0;
    padding: 20px;
}
div{
    border: 1px solid #ccc;
    padding: 20px;
}
#header{
    margin-bottom: 20px;
}
#left-sidebar{
    width: 100px;
    float: left;
    margin-right: 35px;
}
h2{
    margin-bottom: 15px;
}
#contents{
    width: 500px;
    float: left;
    margin-right: 35px;
    margin-bottom: 20px;
}
#right-sidebar{
    width: 100px;
    float: right;
}
#footer{
    clear: both;
}
div ul li{
    margin-left: 40px;
}